.card {
	width: auto;
	height: auto;
	margin: 10px 10px;
	min-height: 200px;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
	margin-right: 15%;
}
.listItem {
	margin-top: 10px;
}
img {
	margin-top: 10px;
	height: 240px;
	border-radius: 10px;
}

.sideBar_menu{
    position: fixed;
    top: 0; 
    left: 0; 
    width: 200px;
    background-color: #ff0000; 
    padding: 20px; 
}

.sidebar_menu li {
	margin-bottom: 10px;
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.sidebar_menu a {
	color: #fff;
	text-decoration: none;
}

.btn {
	margin-top: 30px;

	min-width: 200px;
}
ul {
	list-style-type: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background: linear-gradient(292deg, rgb(117, 154, 194) 47%, rgba(49, 184, 227, 1) 100%);
}
